
<div class="panel panel-primary">
  <div class="panel-heading"><h1><%= @profile %></h1></div>

  <div class="panel-body">

      <% if @profile && @profile.admin? %>
      <<%= render 'admin'%>
      <% else %>
     <%= render 'student'%>
      <% end %>

  </div>
</div>
