
<div class="panel panel-primary">
  <div class="panel-heading"><h1><%= @profile %></h1></div>

  <div class="panel-body">

    <% if current_user.profile.role == "admin" %>
    <%= render 'admin'%>
    <% else %>
    <%= render 'student'%>
    <% end %>

  </div>
</div>
