<h1>Hello, <%= current_user.profile.first_name %>! </h1>
<h2>Here are the pairing schedule of students!</h2>

<table class="table table-striped table-bordered">

	<% @pairs_schedule.sort.each do |day| %>
	<tr>
		<td><%= day.day %></td>
		<% day.pairs.each do |pair| %>
		<td><%= pair.join(" & ") %></td>
			<% end %>
	</tr>
	<% end %>
</table>

	<%= button_to "auto generate", save_into_db_path %>
